header {
    background-color: #ffc6c6;
    color: rgb(255, 255, 255);
}
* {
    margin: 0;
    padding: 0;
}

.cabecalho {
    background-color: #fad1d1;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
}

.cabecalho-imagem{
    width: 15%;
    height: 20%;
    display: inline-block;
}

.cabecalho-lista-item{
        display: flex;
        justify-content:center;
        align-items: center;
        font-size: 24px;
        display: inline;
}