header {
    background-color: #ffc6c6;
    color: rgb(255, 255, 255);
}
* {
    margin: 5;
    padding: 5;
}

.cabecalho {
    background-color: #fad1d1;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
}

.cabecalho-imagem{
    margin: 50;
    padding: 20;
    width: 1700;
    height: 40%;
    display: inline-block;
}

.cabecalho-lista-item{
    display: inline-block;
    margin:  50px;
    font-size: 50px;
}