header {
    background-color: #ffa0a0;
    color: rgb(255, 255, 255);
}
* {
    margin: 5;
    padding: 5;
}

.cabecalho {
    background-color: #ff9e9e;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
}

.cabecalho-imagem{
    width: 30%;
    display: inline-block;
}

.cabecalho-lista-item{
    display: inline-block;
    margin: 10 16px;
    font-size: 20px;
}