body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(255, 255, 255);
}
header {
    background-color: #ffc5c5;
    color: rgb(255, 255, 255);
    padding: 10px 0;
    text-align: center;
  }
  .logo {
    font-size: 24px;
    font-weight: bold;
  }
  .navbar {
    display: flex;
    justify-content: center;
    background-color: #ffabab;
    padding: 8px 0;
  }
  .nav-item {
    margin: 0 15px;
  }
  .nav-link {
    color: white;
    text-decoration: none;
    font-weight: bold;
  }
  .main-content {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px;
    background-color: #ffeeee;
  }
  
  .product {
    border: 1px solid #ffabab;
    background-color: #ffc5c5;
    padding: 20px;
    margin: 12px;
    text-align: center;
  }
  
  .product img {
    max-width: 15%;
  }
  
  .price {
    font-weight: bold;
    color: #ffffff;
  }
  
  .buy-button {
    background-color: #ffabab;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
  }
  .titulo {
    font-family: 'Cinzel', serif;
  }
  .escola{
    background-image: linear-gradient(#fdcccc,#fdcccc);
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 0;
}

.escola-div-conteudo{
    width: 35%;
}
  .colar-imagem {
    display: inline;
    font-size: 16px;
    padding: 12px;
    margin: 12px;
    width: 15%;
  }
.estudante-titulo{
    text-align: center;
    padding: 50px 0;
    background-color: #ffabab;
}
.rodape{
  background-color: #ffabab;
  text-align: center;
}

.rodape-imagem{
  height: 30px;
  padding: 12px 500px;
text-align: center;
}
